<h2><b>Enroll Patient</b></h2>
<br/>
<div [hidden]="submitted" class ="block" style="width: 300px;">
    <form (ngSubmit)="onSubmit()" #patientform="ngForm">
        
        <div class="form-group">
            <label for="firstName"><b>First Name</b></label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="patient.firstName" name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is mandatory</small>           
        </div>
        <div class="form-group">
            <label for="lastName"><b>Last Name</b></label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="patient.lastName" name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
            <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is mandatory</small>
        </div>
     
        <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input type="text" class="form-control" id="password" required [(ngModel)]="patient.password" name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is mandatory</small>            
        </div>
    
        <div class="form-group">
            <label for="dateOfBirth"><b>Date Of Birth</b></label>
            <input type="date" class="form-control" id="dateOfBirth" required [(ngModel)]="patient.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched">
            <small class="text-danger" [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched">Date Of Birth is mandatory</small>
        </div>
    
        <div class="form-group">
            <label><b>Email</b></label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="patient.email" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is mandatory</small>      
        </div>   
        <div class="form-group">
            <label><b>Contact Number</b></label>
            <input type="text" class="form-control" id="contactNumber" required [(ngModel)]="patient.contactNumber" name="contactNumber" #contactNumber="ngModel" [class.is-invalid]="contactNumber.invalid && contactNumber.touched">
            <small class="text-danger" [class.d-none]="contactNumber.valid || contactNumber.untouched">Email is mandatory</small>      
        </div>
     
        <div class="form-group">
            <label for="state"><b>State</b></label>
            <input type="text" class="form-control" id="state" required [(ngModel)]="patient.state" name="state" #state="ngModel" [class.is-invalid]="state.invalid && state.touched">
            <small class="text-danger" [class.d-none]="state.valid || state.untouched">State is required</small>
        </div>
    
        <div>
            <input type="checkbox" id="insurancePlan" required [(ngModel)]="patient.insurancePlan" name="insurancePlan" #insurancePlan="ngModel" [class.is-invalid]="insurancePlan.invalid && insurancePlan.touched">
            <label for="insurancePlan" class="form-check-label">
            <b>Insurance Plan </b>
            </label>
        </div>
        <br>
 
    
        <button type="submit" class="btn btn-success" [disabled]="patientform.form.invalid">Submit</button>
        <button class = "btn btn-primary active" (click)="btnClick()">Back</button>
    </form>
</div>
 
<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newPatient()">Add another Patient</button>
</div>



