<body>
    
    
<div class="container">
    <nav>
        <a routerLink="enrollPatient" class="btn btn-primary active" role="button" routerLinkActive="active" >EnrollPatient</a>
        
        <a routerLink="addPhysician" class="btn btn-primary active" role="button" routerLinkActive="active">AddPhysician</a>
    
        <a routerLink="searchPhysician" class="btn btn-primary active" role="button" routerLinkActive="active">SearchPhysician</a>
    
        <a routerLink="patientDiagnosisDetails" class="btn btn-primary active" role="button" routerLinkActive="active">PatientDiagnosisDetails</a>
    
        <a routerLink="viewPatientHistory" class="btn btn-primary active" role="button" routerLinkActive="active">ViewPatientHistory</a>
        
        <a id = "logout" routerLink="/Login" class="btn btn-danger " role="button" routerLinkActive="active">Logout</a>
        
      </nav>
     
</div>

<br/>
<br/>
<img [src]= "myimage" alt="">
</body>
