.btn{
    
    margin-left:15px;
    min-width: 120px;
    max-width: 200px;
}
.container{
    text-align: center;
    
}
img{
   
        height:27em; background-size:cover; width:auto;
        
        
}


