body{
  
    color: black;
    min-width: 100%;
    background: gray url('https://miro.medium.com/max/800/1*MHKdXAiLHvqiffGTbxsUUw.jpeg');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: top;
    background-size: cover;
    padding: 30px 80px;
 
}

div.err{
    text-align: center;
    color: black;
    text-decoration:blink;
    }
