
<h3><b>Find By Department</b></h3>

<br/>
<div style="width: 300px;" class="block">
  <form (ngSubmit)="onSubmit()" >
   
    <div class="form-group" >
      <label for="department"><b>Department</b></label>
      <input type="text" class="form-control " id="department" required [(ngModel)]="department" name="department">
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  
  </form>
</div>

<br/>

<h3><b>Find By State</b></h3>

<div style="width: 300px;" class="block">
  <form (ngSubmit)="onSubmit1()" >
   
    <div class="form-group">
      <label for="state"><b>State</b></label>
      <input type="text" class="form-control " id="state" required [(ngModel)]="state" name="state">
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
    
  </form>
</div>


<br/>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Physician ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Educational Qualification</th>
              <th>Years Of Experience</th>
            </tr>
          </thead>
    <tbody>
      <tr *ngFor="let Physician of physicians">
        <td>{{Physician.id}}</td>
        <td>{{Physician.firstName}}</td>
        <td>{{Physician.lastName}}</td>
        <td>{{Physician.educationalQualification}}</td>
        <td>{{Physician.yearsOfExperience}}</td>
      </tr>
    </tbody>
    </table>
</div>

<div>
  <button class = "btn btn-primary active" (click)="btnClick()">Back</button>
</div>