

.btn{
  margin-left:15px;
  margin-bottom: 15px;
  min-width: 120px;
  max-width: 200px;
}

h3{
  color :blue;
  left: 38%;
  text-align: center;
}

.block input[type=text],
.block input[type=password],
.block input[type=date],
.block input[type=email],
.block input[type=number] {
    width: 300px;
  background: whitesmoke;
   
    
}
    


.block{
  
    color: black;
    min-width: 100%;
    background: gray url('https://img.freepik.com/free-photo/medicine-doctor-nurse-working-with-medical-icons_117856-472.jpg?size=626&ext=jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    padding: 30px 500px;
    

    

    
}


