

    <div style="padding: 20px; " >
      <h1 style="color: black" ><b>Hospital Mangement System</b></h1>
      <br/>
      <!--<nav>
        <a routerLink="enrollPatient" class="btn btn-primary active" role="button" routerLinkActive="active">EnrollPatient</a>
        
        <a routerLink="addPhysician" class="btn btn-primary active" role="button" routerLinkActive="active">AddPhysician</a>
    
        <a routerLink="searchPhysician" class="btn btn-primary active" role="button" routerLinkActive="active">SearchPhysician</a>
    
        <a routerLink="patientDiagnosisDetails" class="btn btn-primary active" role="button" routerLinkActive="active">PatientDiagnosisDetails</a>
    
        <a routerLink="viewPatientHistory" class="btn btn-primary active" role="button" routerLinkActive="active">ViewPatientHistory</a>
        
      </nav>
      -->
      <router-outlet></router-outlet>
    
      
    </div>


    
    
 

