<h3><b>Patient History</b></h3> <br/> 
<div style="width: 300px;" class="block">
    <form (ngSubmit)="onSubmit()">
     
  
      <div class="form-group">
        <label for="firstName"><b>First Name</b></label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="firstName" name="firstName">
      </div>
   
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
    <br/>
  
  </div>
  <div>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Patient ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Email Address</th>
            <th>Contact Number</th>
            <th>State</th>
            <th>Insurance Plan </th>
          </tr>
        </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{patient.id}}</td>
        <td>{{patient.firstName}}</td>
        <td>{{patient.lastName}}</td>
        <td>{{patient.dateOfBirth}}</td>
        <td>{{patient.email}}</td>
        <td>{{patient.contactNumber}}</td>
       <td>{{patient.state}}</td>
       <td>{{patient.insurancePlan}}</td>
      </tr>
    </tbody>
  </table>
</div>  

<div><button class = "btn btn-primary active" (click)="btnClick()">Back</button></div>
