
<div>
 
  <b>Employee Details with Department and Skills and DOB.</b> 
  <br/>
  <div >
    <br/>
    <div>Id : {{ emp.id }}</div><br/>
    <div>Name : {{ emp.name }}</div><br/>
    <div>Salary : {{ emp.salary | currency: "INR" }}</div><br/>
    <div *ngIf="true">Permanent : yes</div><br/>
    <div>Department Id : {{ emp.department.departmentId }}</div><br/>
    <div>Department Name : {{ emp.department.departmentName }}</div><br/>
    <div>
      Skill Information:<br/><br/>
      <table>
          <tr>
              <th>
                  Skill Id
              </th>
              <th>
                  Skill Name
              </th>
          </tr>
          <tr *ngFor="let empl of emp.skill">
              <td>
                  {{empl.skill_id}}
              </td>
              <td>
                  {{empl.skill_name}}
              </td>
          </tr>
      </table>
    </div>
    
  </div>
 
  
</div>
