<!--<p>
  <b>
    Display Favorite Movie
  </b>
<br/>
<br/>
Favorite Movie: {{FavoriteMovie}}
</p>
<app-employee></app-employee>
<p>
Date: {{Date | date: "longDate"}}
</p>
-->

<div>
<div class="container">
  
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li><b>Angular Learning</b></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/viewemployee" >ViewEmployee</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/editemployee" >EditEmployee</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/quantityincrement" >QuantityIncrement</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/edit-emp-template-driven" >Edit Employee-Template</a></li>
      </ul>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <router-outlet></router-outlet>
  </div>
</div>
</div>








