<h3><b>Enroll Physician</b></h3><br/>
<div [hidden]="submitted" class="block" style="width: 300px;">
    <form (ngSubmit)="onSubmit()" #physicianform="ngForm">
        <div class="form-group">
            <label for="firstName"><b>First Name</b></label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="physician.firstName" name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small>           
        </div>
        <div class="form-group"> 
            <label for="lastName"><b>Last Name</b></label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="physician.lastName" name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
            <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>
        </div>
 
        <div class="form-group">
            <label for="educationalQualification"><b>Educational Qualification</b></label>
            <input type="text" class="form-control" id="educationalQualification" required [(ngModel)]="physician.educationalQualification" name="educationalQualification" #educationalQualification="ngModel" [class.is-invalid]="educationalQualification.invalid && educationalQualification.touched">
            <small class="text-danger" [class.d-none]="educationalQualification.valid || educationalQualification.untouched">Educational Qualification is required</small>
        </div>
        
        <div class="form-group">
            <label for="department"><b>Department</b></label>
            <input type="text" class="form-control" id="department" required [(ngModel)]="physician.department" name="department" #department="ngModel" [class.is-invalid]="department.invalid && department.touched">
            <small class="text-danger" [class.d-none]="department.valid || department.untouched">Department is required</small>
        </div>
 
        <div class="form-group">
            <label for="yearsOfExperience"><b>Years of Experience</b></label>
            <input type="number" class="form-control" id="yearsOfExperience" required [(ngModel)]="physician.yearsOfExperience" name="yearsOfExperience" #yearsOfExperience="ngModel" [class.is-invalid]="yearsOfExperience.invalid && yearsOfExperience.touched">
            <small class="text-danger" [class.d-none]="yearsOfExperience.valid || yearsOfExperience.untouched">Years Of Experience is required</small>
        </div>
 
        <div class="form-group">
            <label for="state"><b>State</b></label>
            <input type="text" class="form-control" id="state" required [(ngModel)]="physician.state" name="state" #state="ngModel" [class.is-invalid]="state.invalid && state.touched">
            <small class="text-danger" [class.d-none]="state.valid || state.untouched">State is required</small>
        </div>
    
        <div>
            <input type="checkbox" id="insurancePlan" [(ngModel)]="physician.insurancePlan" name="insurancePlan" #insurancePlan="ngModel">
            <label for="insurancePlan" class="form-check-label">
            <b>Insurance Plan </b>
            </label>
        </div>
        <br>
 
    <button type="submit" class="btn btn-success" [disabled]="physicianform.form.invalid">Register</button>

    
    <button type="button" (click)="resetForm()" class="btn btn-primary">Reset Now</button>
    
    <button class = "btn btn-primary active" (click)="btnClick()">Back</button>
</form>
</div>
 
  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newPhysician()">Add another Physician</button>
  </div>