
<h3><b>Patient Diagnosis Details</b></h3><br/>
<div [hidden]="submitted" class= "block" style="width: 300px;">
    <form (ngSubmit)="onSubmit()" #diagnosisform="ngForm">
      
    <div class="form-group">
        <label for="patientId"><b>Patient Id</b></label>
            <select class="custom-select form-control" name="patientId" [(ngModel)]="diagnosis.patientId" #patientId="ngModel" required [class.is-invalid]="patientId.invalid && patientId.touched">
                <option value="default">Select PatientId</option>
                <option *ngFor="let patient of patients | async">{{patient.id}}</option>
            </select>
            <small class="text-danger" [class.d-none]="patientId.valid || patientId.untouched">Patient id is required</small>
    </div>
        <div class="form-group">
            <label for="symptoms"><b>Symptoms</b></label>
            <input type="text" class="form-control" id="symptoms" required [(ngModel)]="diagnosis.symptoms" name="symptoms" #symptoms="ngModel" [class.is-invalid]="symptoms.invalid && symptoms.touched">
            <small class="text-danger" [class.d-none]="symptoms.valid || symptoms.untouched">Symptoms is mandatory</small>           
        </div>

        <div class="form-group">
            <label for="diagnosisProvided"><b>Diagnosis Provided</b></label> 
            <input type="text" class="form-control" id="diagnosisProvided" required [(ngModel)]="diagnosis.diagnosisProvided" name="diagnosisProvided" #diagnosisProvided="ngModel" [class.is-invalid]="diagnosisProvided.invalid && diagnosisProvided.touched">
            <small class="text-danger" [class.d-none]="diagnosisProvided.valid || diagnosisProvided.untouched">Diagnosis Provided  is required</small>
        </div>

        <div class="form-group">
            <label for="administeredBy"><b>Administered By</b></label>
            <input type="text" class="form-control" id="administeredBy" required [(ngModel)]="diagnosis.administeredBy" name="administeredBy" #administeredBy="ngModel" [class.is-invalid]="administeredBy.invalid && administeredBy.touched">
            <small class="text-danger" [class.d-none]="administeredBy.valid || administeredBy.untouched">Administered By is required</small>            
        </div>

        <div class="form-group">
            <label for="dateOfDiagnosis"><b>Date Of Diagnosis</b></label>
            <input type="date" class="form-control" id="dateOfDiagnosis" required [(ngModel)]="diagnosis.dateOfDiagnosis" name="dateOfDiagnosis" #dateOfDiagnosis="ngModel" [class.is-invalid]="dateOfDiagnosis.invalid && dateOfDiagnosis.touched">
            <small class="text-danger" [class.d-none]="dateOfDiagnosis.valid || dateOfDiagnosis.untouched">dateOfDiagnosis is required</small>
        </div>
 
        <div class="form-group">
            <label><b>Follow Up</b></label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="followUpRequired" value="YES" [(ngModel)]="diagnosis.followUpRequired" #followUpRequired="ngModel" required > 
              <label class="form-check-label">Yes</label>
            </div>
 
            <div class="form-check">
              <input class="form-check-input" type="radio" name="followUpRequired" value="NO" [(ngModel)]="diagnosis.followUpRequired" #followUpRequired="ngModel" required>
              <label class="form-check-label">No</label>
            </div>
 
            <div *ngIf="followUpRequired.invalid && followUpRequired.untouched" class="text-danger"> 
              Follow Up is required
            </div>
        </div> 

        <div class="form-group">
            <label><b>Date Of FollowUp</b></label>
            <input type="date" class="form-control" id="dateOfFollowUp" required [(ngModel)]="diagnosis.dateOfFollowUp" name="dateOfFollowUp" #dateOfFollowUp="ngModel" [class.is-invalid]="dateOfFollowUp.invalid && dateOfFollowUp.touched">
            <small class="text-danger" [class.d-none]="dateOfFollowUp.valid || dateOfFollowUp.untouched">Date Of FollowUp is required</small>      
        </div>
    
        <div class="form-group">
            <label for="billAmount"><b>Bill Amount</b></label>
            <input type="number" class="form-control" id="billAmount" required [(ngModel)]="diagnosis.billAmount" name="billAmount" #billAmount="ngModel" [class.is-invalid]="billAmount.invalid && billAmount.touched">
            <small class="text-danger" [class.d-none]="billAmount.valid || billAmount.untouched">Bill Amount is required</small>
        </div>
    
        <div class="form-group">
            <label for="cardNumber"><b>Card Number</b></label>
            <input type="number" class="form-control" id="cardNumber" required [(ngModel)]="diagnosis.cardNumber" name="cardNumber" #cardNumber="ngModel" [class.is-invalid]="cardNumber.invalid && cardNumber.touched">
            <small class="text-danger" [class.d-none]="cardNumber.valid || cardNumber.untouched">Card Number is required </small>
        </div>
 
        <div class="form-group">
            <label for="modeOfPayment"><b>Mode Of Payment</b></label>
            <input type="text" class="form-control" id="modeOfPayment" required [(ngModel)]="diagnosis.modeOfPayment" name="modeOfPayment" #modeOfPayment="ngModel" [class.is-invalid]="modeOfPayment.invalid && modeOfPayment.touched">
            <small class="text-danger" [class.d-none]="modeOfPayment.valid || modeOfPayment.untouched">Mode Of Payment is required </small>
        </div>
       
        <br>
    <button type="submit" class="box" [disabled]="diagnosisform.form.invalid">Submit</button>
    
    <button type="reset" class="box" >Reset</button>

    
   </form>

   <div><button class = "btn btn-primary active" (click)="btnClick()">Back</button></div>
</div>

  <div [hidden]="!submitted">
    <h4>Report submitted successfully!</h4>
  <button class="btn btn-success" (click)="newReport()">Add another Patient</button>
  </div>

